# Ignore node_modules (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore temporary files created by the system
*.tmp
.DS_Store

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variable files
.env
